@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

h1 ,h2 ,h3, h4, h5, h6, p {
    font-family: 'Varela Round', sans-serif;
}

.mainpagecontainer {
    margin-top: 10%;
}

.forhr {
    background-color: #a85af6;
    width: 50%;
    height: 2px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
li {
    display: inline;
    margin-left: 28px;
}

.curve {
    position: relative;
    height: 267px;
    background-image: url(https://res.cloudinary.com/dx9dnqzaj/image/upload/v1621399609/photoshooted/background_lv9tfq.svg);
    width: 100%;
    border-bottom-left-radius: 250% 460px;
    border-bottom-right-radius: 250% 460px;
    /* margin-left: -2em; */
    padding-right: 2em;
}

.footerBg {
    background-image: url(https://res.cloudinary.com/dx9dnqzaj/image/upload/v1621399609/photoshooted/background_lv9tfq.svg);
}


.forprices {
    height: 100%;
    margin: 0;
    background-image: url("https://res.cloudinary.com/dx9dnqzaj/image/upload/v1621399609/photoshooted/background_lv9tfq.svg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gb {
    margin: 0 0 20px 0;
    font-weight: 400;
    color: #6852ed;
    text-transform: inherit;
}


.uk-text-top {
    vertical-align: top!important;
}

.uk-h3, h3 {
    font-size: 24px;
    line-height: 1.4;
    font-weight: 400;
}

.uk-heading-large {
    font-size: 6.4rem;
    line-height: 1.0;
    color: #6852ed;
    font-weight: 500;
    font-family: 'Varela Round', sans-serif;
}


.uk-margin-remove-bottom {
    margin-bottom: 0!important;
}
.uk-margin-top {
    margin-top: 20px!important;
}


.uk-overflow-auto>:last-child {
    margin-bottom: 0;
}
.uk-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 20px;
}
user agent stylesheet
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

.serviceimg {
    border-radius: 500px 0px 0px 500px;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

.buttongradiant {
    background-image: linear-gradient(to right, #A744FA , #6852ed);
    border-color: transparent;
}